.full {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.card {
  margin: 10%;
  height: 45vh;
  width: 60%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 30px 10px rgba(255, 255, 255, 0.5);
  transition: opacity 0.2s ease, box-shadow 0.2s ease;
  opacity: 1;
  margin-bottom: 40px;
  background-color: white;
  padding: 5%;
}
.h4 {
}
