.full {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.card {
  margin: 10%;
  height: 45%;
  width: 60%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 30px 10px rgba(255, 255, 255, 0.2);
  transition: opacity 0.2s ease, box-shadow 0.2s ease;
  opacity: 1;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5%;
}
.h4 {
  color: #bac8d6;
}
.a {
  color: whitesmoke;
}
.a:hover {
  color: blue;
}
