.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-right: 5%;
}
.links {
  display: flex;
  position: relative;
  justify-content: center;
  color: #000000;
  letter-spacing: 2.5px;
  font-style: normal;
  cursor: pointer;
  border: solid;
  border-radius: 0px 10px 0px 15px;
  box-shadow: 10px 15px 18px 0px rgba(0, 0, 0, 0.5);
  background-color: #cecbcb;
  padding: 10%;
  width: 155px;
}
.links:hover {
  border-radius: 0px 10px 0px 15px;
  color: rgba(104, 7, 7, 0.5);
}
.links:after {
  color: rgba(64, 55, 55, 0.5);
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  transform-origin: bottom left;
  transition: transform 0.2s ease-out;
}
.links:hover:after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: bottom left;
}
.links:link,
a:visited,
a:active {
  text-decoration: none;
}
@media (max-width: 768px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    margin: 5%;
    color: rgb(255, 255, 255);
  }
  .navBar {
    display: flex;
    justify-content: center;
  }
  .links {
    display: flex;
    position: relative;
    color: #000000;
    letter-spacing: 1.5 px;
    font-style: normal;
    cursor: pointer;
    border: none;
    border-radius: 0px 10px 0px 15px;
    /*box-shadow: 4px 4px 8px 0px rgba(156, 52, 164, 0.5);*/
    background-color: #ffffff;
    padding: 1%;
    font-size: small;
  }
  .links:hover {
    border-radius: 0px 10px 0px 15px;
    color: rgba(212, 202, 202, 0.5);
  }
  .links:after {
    color: rgba(64, 55, 55, 0.5);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transform-origin: bottom left;
    transition: transform 0.2s ease-out;
  }
  .links:hover:after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .links:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
}
@media only screen and (max-width: 600px) {
  .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
