.Tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: xxx-large;
}
.gif {
  border-radius: 5%;
  width: 30%;
  height: 30%;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.3);
}
